@theme inline {
	--animate-shine: shine var(--duration) infinite linear;

	@keyframes shine {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		to {
			background-position: 0% 0%;
		}
	}
}

@theme inline {
	--animate-background-position-spin: background-position-spin 3000ms infinite alternate;

	@keyframes background-position-spin {
		0% {
			background-position: top center;
		}
		100% {
			background-position: bottom center;
		}
	}
}
